 .fira-sans-static {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.first{
    padding: 40px;
    background-color:white;
}
/* ...banner styles... */
.banner{
    font-family: "Fira Sans", serif;
    display: flex;
    width: 1200px;
    height: 400px;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 100px; 
    border: 2px;
    border-radius: 20px;   
}
.btn{
    background-color: #006A50;
    padding: 20px 32px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px 12px;     
}
.banner-content{
    max-width: 580px;
}
.sub-title{
     color: dimgray;
     font-size: 24px;
     padding: 4px;
     margin-bottom: 0;
}
.banner-title{
    font-weight: bold;
    font-size: 49px;
    margin-bottom: 40px ;
    margin-top: 0;
    
}
.banner-pro-pic{
    width: 474px ;
}

/*... vision section design... */
.section-title{
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    font-size: 16;
    margin: 0px;
}

/* model1 styles */
.model-container{
    display: flex;
    gap: 32px;
    padding-top: 40px;
    border: 2px;
    border-radius: 20%;
    font-size: 18px;
}
.development-model1{
    height: 280px;
    width: 500px;
    background-color: #bfd5fa;
    padding: 20px;
    border: 2px;
    border-radius: 5%;

}
.btn-1{
    background-color: #5490F5;
    color: white;
    font-size: 16px;
    padding: 18px 28px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px; 
}

/* model2 styles */
.development-model2{
    height: 280px;
    width: 500px;
    background-color: #C6E4D6;
    padding: 20px;
    border: 2px;
    border-radius: 5%;
     
}
.btn-2{
    background-color: #09A15C;
    color: white;
    font-size: 16px;
    padding: 18px 28px;
    font-weight: bold;
    border-radius: 8px;
    border: none;  
    margin-top: 20px;
}
/* model3 styles */
.development-model3{
    height: 280px;
    width: 500px;
    background-color: #F7EBCF;
    padding: 20px;
    border: 2px;
    border-radius: 5%; 
}
.btn-3{
    background-color: #FFC239 ;
    color: white;
    font-size: 16px;
    padding: 18px 28px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}


 /*... Recent news section styles... */
.section{
    margin-bottom: 50px;
    }
.section-title{
    font-weight: 800;
    color: var(--text-color-dark);
    font-size: 40px;
    margin-bottom: 20px;
    }
.section-description{
    margin-bottom: 30px;
    }
.news-card{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    background-color: rgba(230, 223, 223, 0.315);
    border-radius: 4%;
}
.news-content{
   padding-left: 10px;  
}
.news-img{
    height: 306px;
    width:408px;
    border-radius:5%;
}
.btn-primary{
    background-color: #006A50;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
}

/* ...donate section design... */
.donate-container{
      text-align: center;
      margin: auto;
}
.section-title{
   text-align: center;
}
.donation-boxes{
    display: flex;
    padding: 10px;
    gap: 24px;
    margin: 20px 100px; 
    border-radius: 5%;
    height: 100px;
    padding-left: 80px;
}
.donation-item{
    background-color: rgba(220, 217, 217, 0.349);
    padding: 20px;
    color: #272525c5;
    font-weight: bold;
    font-size: 38px;
    border-radius: 7px 7px;  
}
#color{
    background-color: #C6E4D6;
}
#txt{
    text-decoration: none;
    margin-bottom: 20px;
    background-color: rgba(243, 243, 243, 0.966);
    width: 870px;
    height: 35px;
    border: none;
    align-items: center;
    margin-left: 200px;
    padding-top: 11px;
    }